#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 2rem 2rem 3rem 2rem;
    box-sizing: border-box;
    gap: 2rem;
}

.tres-partes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.tres-partes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    box-sizing: border-box;
}

.contact-col .icons-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem 1.5rem;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem 1.5rem;
}

.dedicatoria {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h4 {
    color: var(--second-text-color);
}